### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [56]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
Heroes_of_pd = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Heroes_of_pd = pd.read_csv("Resources/purchase_data.csv")
Heroes_of_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

## Purchasing Analysis (Total)

In [57]:
Total_Player_Count_df = Heroes_of_pd.groupby("SN")["SN"].unique()
Total_Players = ([{"Total_Players":Total_Player_Count_df.count()}])
Total_Players 

item_count = len(Heroes_of_pd["Item ID"].unique())
item_count


Average_Price = Heroes_of_pd["Price"].mean()
Average_Price

Average_Age = Heroes_of_pd["Age"].mean()
Average_Age

Total_Purchases = Heroes_of_pd["Purchase ID"].count()
Total_Purchases

Total_Revenue = Heroes_of_pd["Price"].sum()
Total_Revenue

2379.77

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
Purchase_Analysis_df = pd.DataFrame({"Number of Unique Items": [item_count],
                                          "Total Player Count": [Total_Players],
                                          "Average Price": [round(Average_Price, 2)],
                                          "Average Age": [Average_Age],
                                          "Total Purchases": [Total_Purchases],
                                          "Total Revenue": [Total_Revenue]})

Purchase_Analysis_df ["Number of Unique Items"] = Purchase_Analysis_df["Number of Unique Items"]
Purchase_Analysis_df ["Average Price"] = Purchase_Analysis_df["Average Price"].map("${:,.2f}".format)
Purchase_Analysis_df ["Total Purchases"] = Purchase_Analysis_df["Total Purchases"].map("{:,}".format)
Purchase_Analysis_df ["Total Revenue"] = Purchase_Analysis_df ["Total Revenue"].map("${:,.2f}".format)
Purchase_Analysis_df = Purchase_Analysis_df.loc[:,["Number of Unique Items", "Average Price", "Total Purchases", "Total Revenue"]]
Purchase_Analysis_df

   Number of Unique Items Average Price Total Purchases Total Revenue
0                     183         $3.05             780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [121]:
male_df = Heroes_of_pd.loc[Heroes_of_pd["Gender"] == "Male",:]
male_count = len(male_df["SN"].unique())
percent_male = round((len(male_df)/len(Heroes_of_pd)) * 100, 2)

female_df = Heroes_of_pd.loc[Heroes_of_pd["Gender"] == "Female",:]
female_count = len(female_df["SN"].unique())
percent_female = round((len(female_df)/len(Heroes_of_pd)) * 100, 2)

others_data_df = Heroes_of_pd.loc[Heroes_of_pd["Gender"] == "Other / Non-Disclosed",:]
others_count = len(others_data_df["SN"].unique())
percent_others = round((len(others_data_df)/len(Heroes_of_pd)) * 100, 2)

gender_demo_df = {"Percentage Of Players" : [percent_male, percent_female, percent_others],
                    "Gender" : ["Male","Female","Other/Non-Disclosed"],
                    "Total Count" : [male_count, female_count, others_count]}

gender_demo_df = pd.DataFrame(gender_demo_df)

gender_demo_df

   Percentage Of Players               Gender  Total Count
0                  83.59                 Male          484
1                  14.49               Female           81
2                   1.92  Other/Non-Disclosed           11


## Purchasing Analysis (Gender)

In [132]:
Male_Purchase_Count = len(male_df)
Female_Purchase_Count = len(female_df)
Other_Purchase_Count = len(others_data_df)

Male_Average_Price = round((male_df['Price'].sum())/len(male_df['Price']),2)
Female_Average_Price = round((female_df['Price'].sum())/len(female_df['Price']),2)
Other_Average_Price = round((others_data_df['Price'].sum())/len(others_data_df['Price']),2)

Male_Total_Price = round((male_df['Price'].sum()),2)
Female_Total_Price = round((female_df['Price'].sum()),2)
Other_Total_Price = round((others_data_df['Price'].sum()),2)


Average_Price_Per_Person_Male = round((Male_Total_Price/male_count),2)
Average_Price_Per_Person_Female = round((Female_Total_Price/female_count),2)
Average_Price_Per_Person_Other = round((Other_Total_Price/others_count),2)


Final_Purchase_Analysis = {'Purchase Count': [Male_Purchase_Count, Female_Purchase_Count, Other_Purchase_Count],
                           'Gender': ['Male', 'Female', 'Other'],
                           'Average Price': [Male_Average_Price, Female_Average_Price, Other_Average_Price],
                           'Average Price per Person': [Average_Price_Per_Person_Male, Average_Price_Per_Person_Female, Average_Price_Per_Person_Other],
                           'Total Price': [Male_Total_Price, Female_Total_Price, Other_Total_Price],
                            }

Final_Purchase_Analysis_df = pd.DataFrame(Final_Purchase_Analysis)
Final_Purchase_Analysis_df = Final_Purchase_Analysis_df.set_index('Gender')


Final_Purchase_Analysis_df['Purchase Count'] = Final_Purchase_Analysis_df['Purchase Count']
Final_Purchase_Analysis_df['Average Price'] = Final_Purchase_Analysis_df['Average Price'].map('${:,.2f}'.format)
Final_Purchase_Analysis_df['Average Price per Person'] = Final_Purchase_Analysis_df['Average Price per Person'].map('${:,.2f}'.format)
Final_Purchase_Analysis_df['Total Price'] = Final_Purchase_Analysis_df['Total Price'].map('${:,.2f}'.format)

Final_Purchase_Analysis_df

        Purchase Count Average Price Average Price per Person Total Price
Gender
Male               652         $3.02                    $4.07   $1,967.64
Female             113         $3.20                    $4.47     $361.94
Other               15         $3.35                    $4.56      $50.19

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80